{% extends "./public.html" %}
{% block title %}
标签/tag | {{title}}
{% endblock %}

{% block content %}
<h2 class="tagPageTitle">搜索标签:「 <strong>{{tagName}}</strong> 」 的文章结果有( {{articleListForTag.count}} )条 <a
      href="javascript:history.go(-1)">取消</a></h2>
{% for list in articleListForTag.data %}
<article>
  <div class="meta">
    <time>{{think.datetime(list.date, 'MM月DD, YYYY')}}</time>
    <div class="comment">
      <a href="/article/{{list.routename}}.html#disqus_thread">{{list.comment}}&nbsp;Comments</a>
    </div>
    <div class="category">
      <a href="/categories.html#{{list.category}}" name="{{list.category}}">
        &nbsp;/&nbsp;
        {{list.category}}</a>
    </div>
  </div>
  <h1 class="title">
    <a href="/article/{{list.routename}}.html">{{list.title}}</a>
    {% if list.show == 1 %}
    &nbsp;<span>置顶</span>
    {% endif %}
  </h1>
  <div class="entry-content">
    <p>{{list.content | cut}}</p>
    <p class="readmore"><a href="/article/{{list.routename}}.html">阅读全文 »</a></p>
  </div>
</article>
{% endfor %}
{% if articleListForTag.totalPages == 0 %}
<p class="emptyArticle">作者还没有撰写任何文章,或设定了文章不公开发布!</p>
{% endif %}
{% endblock %}