<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
  <title><%=title%></title>
  <script id="dsq-count-scr" src="//wangwenbo.disqus.com/count.js" async></script>
  <script src="/static/lib/prism/prism.js"></script>
</head>
<style>
  <%- include ../../../www/static/css/index_style.css %>
</style>
<body>
<div id="container">
  <header>
    <h1><a href="/"><%-getBlogTplInfo().blogname %></a></h1>
    <p class=subtitle><%-getBlogTplInfo().subtitle %></p>
    <div class="sharegroup">
      <a href="" class="share search" title="search">搜索</a>
      <a href="https://github.com/wangwenbo000" target="_blank" class="share github" title="">github</a>
      <a href="" class="share rss" >rss</a>
      <a href="" class="share linkin" >linkin</a>
      <a href="" class="share twitter" >twitter</a>
      <a href="" class="share weibo" >weibo</a>
    </div>
  </header>