<div class="activeinfo">
  <h1>归档</h1>
  <p>从最早使用wordpress、tt,到现在,一直希望可以坚持记录,不知不觉这么多年过去,发现自己的这个想法并没有实现,反而自己做的事情越来越杂乱,2016年初,我重拾这个想法,加上现在的框架(thinkjs)等的便捷,我便开始了这个博客系统的折腾,到目前为止它还没有完善,只是一个临时的测试版本,我还在不断的完善.本站部署于阿里云,使用thinkjs作为主框架.希望能跟更多的前辈交流学习.</p>
</div>
<ul class="cate-list">
  <li class="title">日期列表</li>
  <% archiveList.forEach(function(list){%>
  <li><a href="#<%-formatTime(list.date,'YYYY / MM')%>" name="<%-formatTime(list.date,'YYYY / MM')%>"><%-formatTime(list.date,'YYYY / MM')%></a></li>
  <%})%>
</ul>
<% archiveList.forEach(function(list){%>
<section class="archives">
  <h1 class="year" name="<%-formatTime(list.date,'YYYY / MM')%>"><%-formatTime(list.date,'YYYY / MM')%></h1>
  <ul>
    <% list.list.forEach(function(post){%>
    <li><a href="/article/<%=post.routename%>"><%-post.title%></a>
      <span>-&nbsp;<%=post.category%>&nbsp;&nbsp;</span>
      <time><i>( <%-formatTime(post.date)%> )</i></time>

    </li>
    <%})%>
  </ul>

</section>
<%})%>