<% articleList.data.forEach(function(list){%>
<article>
  <div class="meta">
    <time><%=formatTime(list.date)%></time>
    <div class="comment">
      <a href="/article/<%=list.routename%>.html#disqus_thread"><%=list.comment%>&nbsp;Comments</a>
    </div>
    <div class="category">
      <a href="/categories.html#<%=list.category%>" name="<%=list.category%>">
        &nbsp;/&nbsp;
        <%=list.category%></a>
    </div>
  </div>
  <h1 class="title">
    <a href="/article/<%=list.routename%>.html"><%=list.title%></a>
    <%if(list.show === 1){%>
    &nbsp;<span>置顶</span>
    <%}%>
  </h1>
  <div class="entry-content">
    <p><%-cutContent(list.content)%></p>
    <p class="readmore"><a href="/article/<%=list.routename%>.html">阅读全文 »</a></p>
  </div>
</article>
<%})%>
<%if(articleList.totalPages === 0){%>
<p class="emptyArticle">作者还没有撰写任何文章,或设定了文章不公开发布!</p>
<%}%>
<%- include list_pag.html %>