<article>
  <div class="meta">
    <div class="date"><%=formatTime(articlelist.date)%></div>
    <div class="comment">
      <a href="/article/<%=articlelist.routename%>.html#disqus_thread">Comment</a>
    </div>
    <div class="category">
      <a href=""><%=articlelist.category%></a>
    </div>
  </div>
  <h1 class="title">
    <%=articlelist.title%>
  </h1>
  <div class="entry-content">
    <p><%-articlelist.content%></p>
    <p>本文最后更新时间:<%=formatTime(articlelist.lastdate)%></p>
    <p>Tags:
      <% tags2arr(articlelist.tags).forEach(function(tags){%>
      <a href="">#<%=tags%></a>
      <%})%>
    </p>
  </div>
</article>
<script src="/static/lib/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
<script>
  SyntaxHighlighter.all();
</script>
<%- include suggest.html %>
<%- include next_prev.html %>
<%- include comment.html %>