<% articleList.data.forEach(function(list){%>
<article>
  <a href="/#disqus_thread">Link</a>
  <div class="meta">
    <div class="date"><%=formatTime(list.date)%></div>
    <div class="comment">
      <a href="/article/<%=list.routename%>.html#disqus_thread">Comment</a>
    </div>
    <div class="category">
      <%=list.category%>
    </div>
  </div>
  <h1 class="title">
    <a href="/article/<%=list.routename%>.html"><%=list.title%></a>
  </h1>
  <div class="entry-content">
    <!--<p><%-list.content%></p>-->
    <p><a href="/article/<%=list.routename%>.html">阅读全文 »</a></p>
  </div>
</article>
<%})%>