<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>
  <link href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
  <link href="/static/lib/editor/css/editormd.min.css" rel="stylesheet"/>
  <link href="/static/lib/switch/bootstrap-switch.min.css" rel="stylesheet"/>
  <link href="/static/lib/icheck/skins/square/red.css" rel="stylesheet"/>
  <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <script src="/static/lib/bootpag/jquery.bootpag.js"></script>
  <script src="/static/lib/chart/Chart.min.js"></script>
  <script src="/static/lib/editor/editormd.min.js"></script>
  <script src="/static/lib/switch/bootstrap-switch.min.js"></script>
  <script src="/static/lib/icheck/icheck.min.js"></script>
<link type="text/css" rel="stylesheet" href="static/css/admin.style.css?hash=14bb347ed1d4ce4d59cc">
</head>
<body>
<div id="app"></div>
<script src="static/app/admin.build.js?hash=14bb347ed1d4ce4d59cc"></script>
</body>
</html>