@import "./bootstrap/scss/bootstrap.scss";

.container {
  margin-top: 56px;
  min-width: 1200px;
  padding: 10px;
  background: #fff;
  border:1px solid #eaeaea;
}
.tools-space{
  width: 6%;
}
.admin-panel{
  width: 94%;
}

//过渡样式
.fade-transition {
  transition: opacity .4s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
}

//翻页样式
#pagination {
  height: 34px;
  ul{
    margin-top: 0;
    margin-bottom: 0;
  }
}
.pagination-info,
.pagination-go,
#pagination
{
  vertical-align:middle;
  display: inline-block;
}
.pagination-info{
  padding: 0 10px;
}
.pagination-go{
  .ipt{
    width: 40px;
    display: inline-block;
    margin: 0 10px;
    height: 34px;
  }
  a{
    vertical-align: bottom;
  }
}

//文章侧边栏样式
input[name="title"]{
  font-size: 2rem;
}
#datetimepicker{
  border: none;
}

//侧边栏导航样式
.sliderBar{
  margin-bottom:6px;
  a{
    font-size: 12px;
    text-align:center;
    padding:0.68rem 0;
    i{
      display: block;
      font-size: 22px;
      text-align: center;
    }
  }
}

//文章撰写页面样式

input[name="route"], input[name="tagInput"] {
  border: none;
  background-color: #EFEFEF;
  outline: none;
  text-indent: 2px;
  padding: 0 5px;
  font-weight: 200;
}

.divider {
  border-bottom: 1px solid #ccc;
  padding: 0 0 10px;
}

.taglabel {
  margin-right: 2px;
}

.alist{
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

//setting
.setting{
 padding-top: 30px;
}

//checkbox
.chk {
  display: none;
}

.chk + label {
  background-color: #FFF;
  border: 1px solid #C1CACA;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  margin-bottom: 0;
  -webkit-transition: border-color .3s;
  -moz-transition: border-color .3s;
  -ms-transition: border-color .3s;
  -o-transition: border-color .3s;
  transition: border-color .3s;
}
.chk + label:active {
  box-shadow: 0 1px 2px rgba(242,34,34,.05), inset 0px 1px 3px rgba(242,34,34,0.1);
}

.chk + label:hover {
  border: 3px solid #f22222;
  width: 24px;
  height: 24px;
}

.chk:checked + label {
  border: 3px solid #f22222;
  color: #243441;
}

.chk:checked + label:after {
  content: '\25a0'; //勾选符号
  display: block;
  height: 100%;
  line-height: 13px;
  text-align: center;
  color: #f22222;
  font-size: 1.6em;
}