@import "../../node_modules/compass-mixins/lib/_compass.scss";
@import "var";

@mixin share-icon($width-height:100px, $icon-base64:'') {
  width: $width-height;
  height: $width-height;
  @include border-radius();
  background: url($icon-base64) no-repeat center;
  background-size: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: inherit;
  margin: 0;
}

body {
  margin: 0;
  background: $global-bg-color;
  font: $global-font;
  -webkit-font-smoothing:antialiased;
}

//header h1 a,
.otheread ul li a,
footer a,
.archives a,
.cate-list li a,
.entry-content a,
.meta .category a,
.meta .comment a,
.pagination a {
  color: $main-link-color;
}

a {
  text-decoration: none;
  color: #2f2f2f;
}

#container {
  max-width: 1020px;
  min-width: 320px;
  margin: 20px auto;
  background-color: #FFF;
  padding: 30px;
  word-wrap: break-word;
  overflow: auto;
}
header .headerBtn,
header .share,
header .sharegroup{
  margin-left: 10px;
  margin-top: 1px;
  float: right;
}

header {
  border-bottom: 1px solid #EFEFEF;
  padding: 0 0 10px;
  background: url($logo) no-repeat left 2px;
  background-size: 26px;
  overflow: auto;
  a{
    color: #02F;
    @include transition-property(color);
    @include transition-duration(.4s);
  }
  a:hover{
    color: #ff0000;
  }
  h1, .subtitle, .rss {
    display: inline-block;
  }
  h1 {
    font-size: 22px;
    text-indent: 32px;
  }
  .subtitle {
    color: #A9A9A9;
    font-size: 12px;
    text-indent: 10px;
    vertical-align: text-top;
  }
  .share {
    display: block;
    line-height: 1000;
    overflow: hidden;
    @include opacity(0.2);
    @include transition-property(opacity);
    @include transition-duration(.4s);
  }
  .readingCtr {
    background-image: url($reading);
  }
  //.archives-icon {
  //  background-image: url($archives-icon);
  //}
  //.category-icon {
  //  background-image: url($categories-icon);
  //}
  .menu{
    float: right;
    width: 48px;
    text-align: center;
    margin-top: 4px;
  }
  .headerBtn {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #EFEFEF;
  }
  .sharegroup {
    height: 26px;
    border-left: 1px solid #EFEFEF;
  }
  .share:hover {
    @include opacity(1);
  }
  .github {
    @include share-icon(26px, $github-icon);
  }
  .linkin {
    @include share-icon(26px, $linkin-icon);
    display: none;
  }
  .rss {
    @include share-icon(26px, $rss-icon);
  }
  .weibo {
    @include share-icon(26px, $weibo-icon);
  }
  .search {
    @include share-icon(26px, $search-icon);
  }
  .twitter {
    @include share-icon(26px, $twitter-icon);
    display: none;
  }
}

.emptyArticle {
  background-color: #FFFCE8;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
}

article {
  margin-top: 32px;
  border-bottom: 1px solid #EFEFEF;
  padding: 10px;
  .meta {
    float: right;
    time, .comment, .category {
      font-size: 12px;
      color: #A9A9A9;
    }
    .comment, .category {
      display: inline-block;
    }
    time {
      display: block;
      text-align: right;
    }
  }
  .title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 300;
    span {
      font-size: 12px;
      display: inline-block;
      padding: 2px 4px;
      background: $main-link-color;
      color: #fff;
      vertical-align: super;
    }
  }
  code {
    padding: 2px 4px;
    margin: auto 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #F1FAFF;
    border: 1px solid #C5D8E0;
    font: 13px Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  }
  .entry-content {
    color: #666666;
    font-size: 16px;
    margin-top: 20px;
    line-height: 2;
    text-align: justify;
    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      margin: 16px 0 0 0;
    }
    .toc-list {
      float: right;
      width: 200px;
      margin: 0 0 20px 20px;
      border: 1px solid #EFEFEF;
      font-size: 14px;
      background-color: #fff;
      padding-bottom: 12px;
      h3,ul{
        margin: 0;
      }
      p{
        margin: 0 0 6px 0;
        padding: 4px 0;
        text-indent: 12px;
        font-size: 14px;
        border-bottom: 1px solid #efefef;
      }
      ul{
        padding: 0 0 0 30px;
        li{
          text-align: left;
        }
      }
      ul>ul{
        padding: 0;
      }
    }
    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
      margin: 10px 0;
      border: 1px solid #efefef;
      padding: 3px;
      background: #f8f8f8;
    }
    blockquote {
      color: #999;
      font-style: italic;
      border-left: 4px solid #EFEFEF;
      padding: 6px 16px 6px 10px;
      background: #fbfbfb;
      font-size: 14px;
      margin-left: 0;
      overflow: auto;
    }
    p {
      vertical-align: baseline;
      a {
        display: inline-block;
        background: url($link-icon) left center no-repeat;
        text-indent: 12px;
        margin: 0 8px;
      }
    }
    .readmore {
      margin-top: 18px;
      a {
        margin: 0;
      }
    }
    .lastUpdate {
      background-color: #FFFCE8;
      margin: 16px auto 0 auto;
      text-indent: 16px;
      padding: 10px 0;
      border-left: 4px solid #FBD757;
      font-size: 14px;
      i {
        font-family: "Courier New", Courier, monospace;
        font-weight: 400;
      }
    }
    .tags {
      margin-top: 12px;
      a {
        margin-left: 8px;
        font-size: 12px;
        color: #A9A9A9;
      }
    }
    .readmore a,
    .tags a {
      background: none;
      text-indent: 0;
    }
    .license {
      font-size: 12px;
      color: #A9A9A9;
      text-align: center;
      margin-top: 10px;
      padding-top: 12px;
      border-top: 1px dashed #efefef;
      a[rel="license"] {
        vertical-align: middle;
      }

    }
  }
}

.activeinfo {
  margin: 20px 0;
  padding: 0 20px;
  h1 {
    margin: 30px 0;
  }
  p {
    line-height: 1.8;
    text-align: justify;
    color: #626262;
    font-size: 16px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid #efefef;
  }
}

.archives {
  padding: 0 20px;
  ul {
    padding-left: 16px;
    li {
      height: 32px;
      //font-size: 14px;
      time {
        font-size: 12px;
        color: #A9A9A9;
      }
      span {
        font-size: 12px;
      }
    }
  }
}

.cate-list {
  float: right;
  border: 1px solid #EFEFEF;
  padding: 0 16px;
  list-style: none;
  margin-right: 20px;
  li {
    margin: 10px 0;
    font-size: 14px;
  }
  .title {
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 10px;
    font-weight: bold;
  }
}

footer {
  max-width: 1200px;
  min-width: 320px;
  margin: 20px auto;
  text-align: center;
  font-size: 12px;
  line-height: 1.6;
  color: #A9A9A9;
}

.otheread {
  border-bottom: 1px solid #EFEFEF;
  padding: 16px 0;
  h3 {
    font-size: 22px;
    margin-bottom: 14px;
  }
  ul {
    padding: 2px 20px;
    li {
      margin-top: 8px;
      font-size: 14px;
      list-style: initial;
      time {
        font-size: 12px;
        color: #A9A9A9;
      }
    }
  }
  .nomore {
    color: #A9A9A9;
  }
}

.pagination {
  border-bottom: 1px solid #EFEFEF;
  overflow: auto;
  padding: 26px 0;
  zoom: 1;
  font-size: 14px;
  .next {
    float: right;
  }
  .prev {
    float: left;
  }
  .archive {
    margin: auto;
    text-align: center;
    width: 80px;
  }
}

@media screen and (max-width: 640px) {
  article {
    .meta {
      float: none;
      margin-bottom: 10px;
      .date, .comment, .category {
        display: inline-block;
      }
    }
  }
  header {
    text-align: center;
    .subtitle, h1 {
      vertical-align: baseline;
      display: block;
      text-indent: 0;
    }
    .subtitle {
      margin-top: 10px;
    }
    .sharegroup {
      width: 134px;
      margin: 20px auto 2px auto;
      float: none;
      border-left: none;
    }
    .weibo {
      margin-left: 0;
    }
  }
  .pagination {
    .next {
      float: left;
      margin-bottom: 10px;
    }
  }
  article .entry-content .toc-list{
    float: none;
    margin: 10px auto;
  }
  header .headerBtn{
    position: absolute;
  }
  header .archives-icon{
    right: 26px;
    top:50px;
  }
  header .category-icon{
    right: 55px;
    top:50px;
  }

}

/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

.hljs {
  code {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
  }
  line-height: 23px;
  border: 1px solid #F3F3F3;
  font-size: 14px;
  display: block;
  overflow-x: auto;
  padding: 1.2em;
  background: #fbfbfb;
  color: #657b83;
}

.hljs-comment,
.hljs-quote {
  color: #93a1a1;
}

/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900;
}

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #BF940F;
}

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #eee8d5;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
